title: Diseño Digital I — VHDL
description: Material del curso de Diseño Digital I enfocado en VHDL, FPGA y Quartus
remote_theme: pages-themes/midnight@v0.2.0


markdown: kramdown

kramdown:
  input: GFM
  syntax_highlighter: rouge

plugins:
  - jekyll-relative-links

relative_links:
  enabled: true
  collections: true
